extends ../layouts/common.pug

block content

    
    .container
        .row
            .col
                h1(class="display-4 text-center text-info") Users
        .row
            .col-2
                a(href='/users/create')
                    button(class="btn btn-primary btn-lg btn-block fas fa-user-plus")
            .col-10
                form(action="/users/search", method="GET")
                    div(class="input-group")
                        div(class="input-group-prepend")
                            button(class="btn btn-outline-secondary") Search
                        input(name="q",type="text", class="form-control", placeholder="who do you want?")
        .row
            .col
                if users.length == 0
                    div(class="alert alert-warning", role="alert") Không tồn tại người dùng!

                ul(class="list-group")
                    each user in users
                        li(class="list-group-item d-flex justify-content-between align-items-center")
                            span= user.name
                            a(href= '../users/'+user.id, class="badge badge-primary badge-pill") View
                
    
        